In [1]:
import pandas as pd
# Из словаря (ключи становятся столбцами):
data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 30, 28],
        'city': ['New York', 'London', 'Paris']}
df1 = pd.DataFrame(data)

In [2]:
print(df1)

      name  age      city
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris

In [6]:
# Из списка списков (каждый внутренний список - строка):
data = [['Alice', 25, 'New York'], ['Bob', 30, 'London'], ['Charlie', 28, 'Paris']]
df = pd.DataFrame(data, columns=['name', 'age', 'city'])

In [10]:
print(df)

      name  age      city
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris

In [7]:
# Весь столбец по имени:
print(df['age'])

0    25
1    30
2    28
Name: age, dtype: int64

In [8]:
# Строка по индексу (с помощью .loc):
print(df.loc[1])

name       Bob
age         30
city    London
Name: 1, dtype: object

In [9]:
# Элемент по индексу строки и столбца (с помощью .iloc):
print(df.iloc[0, 2])  # 'New York'

New York