In [1]:
import pandas as pd

data = {'col1': [1, 2, None, 4], 'col2': [5, None, 7, 8]}
df = pd.DataFrame(data)

In [2]:
print(df)

   col1  col2
0   1.0   5.0
1   2.0   NaN
2   NaN   7.0
3   4.0   8.0

In [4]:
print(df.isna())

    col1   col2
0  False  False
1  False   True
2   True  False
3  False  False

In [6]:
print(df.notna())

    col1   col2
0   True   True
1   True  False
2  False   True
3   True   True

In [7]:
print(df)

   col1  col2
0   1.0   5.0
1   2.0   NaN
2   NaN   7.0
3   4.0   8.0

In [ ]:
df.dropna() # Удалит строки 1 и 2
df.dropna(axis=1) # Удалим столбцы col1 и col2
df.dropna(how='all') # Не удалит ни одной строки

In [1]:
import pandas as pd

data = {'Name': ['Анна', 'Иван', 'Елена', 'Петр'],
        'Age': [28, 32, None, 25],
        'City': ['Москва', 'Санкт-Петербург', 'Москва', None]}

df = pd.DataFrame(data)
print(df)

    Name   Age             City
0   Анна  28.0           Москва
1   Иван  32.0  Санкт-Петербург
2  Елена   NaN           Москва
3   Петр  25.0             None

In [3]:
print(df['Age'].fillna(df['Age'].mean())) #Заменит пропуски в столбце 'Age' средним значением.

0    28.000000
1    32.000000
2    28.333333
3    25.000000
Name: Age, dtype: float64

In [4]:
df = pd.DataFrame({'A': [1, 2, None, 4, None, None], 
                   'B': [5, None, 6, None, 8, None]})
print(df)

     A    B
0  1.0  5.0
1  2.0  NaN
2  NaN  6.0
3  4.0  NaN
4  NaN  8.0
5  NaN  NaN

In [6]:
df_ffill = df.fillna(method='ffill')

In [7]:
print(df_ffill)

     A    B
0  1.0  5.0
1  2.0  5.0
2  2.0  6.0
3  4.0  6.0
4  4.0  8.0
5  4.0  8.0

In [8]:
df_ffill = df.fillna(method='bfill')

In [9]:
print(df_ffill)

     A    B
0  1.0  5.0
1  2.0  6.0
2  4.0  6.0
3  4.0  8.0
4  NaN  8.0
5  NaN  NaN

In [37]:
data = {'Name': ['Анна', 'Иван', 'Елена', 'Петр'],
        'Age': [28, 32, 50, 25]}

df = pd.DataFrame(data)
print(df)

    Name  Age
0   Анна   28
1   Иван   32
2  Елена   50
3   Петр   25

In [38]:
# Функция для удвоения значения
def double_value(x):
  return x * 2

# Применяем к каждому элементу
print(df.applymap(double_value))

         Name  Age
0    АннаАнна   56
1    ИванИван   64
2  ЕленаЕлена  100
3    ПетрПетр   50

In [39]:
def categorize_age(age):
  if age < 30:
    return 'Молодой'
  else:
    return 'Взрослый'

# Применение функции к столбцу
df['Age Group'] = df['Age'].apply(categorize_age)
print(df)

    Name  Age Age Group
0   Анна   28   Молодой
1   Иван   32  Взрослый
2  Елена   50  Взрослый
3   Петр   25   Молодой

In [40]:
def calculate_total_length(row):
  return len(row['Name'] + str(row['Age']) + row['Age Group'])

#Применение функции к строке
df['Total Length'] = df.apply(calculate_total_length, axis=1)
print(df)

    Name  Age Age Group  Total Length
0   Анна   28   Молодой            13
1   Иван   32  Взрослый            14
2  Елена   50  Взрослый            15
3   Петр   25   Молодой            13

In [41]:
df['Age Squared'] = df['Age'].apply(lambda x: x**2)
print(df)

    Name  Age Age Group  Total Length  Age Squared
0   Анна   28   Молодой            13          784
1   Иван   32  Взрослый            14         1024
2  Елена   50  Взрослый            15         2500
3   Петр   25   Молодой            13          625