In [10]:
import pandas as pd

#midx = pd.MultiIndex(levels=None, codes=None, sortorder=None, names=None, copy=False, verify_integrity=True)

In [11]:
import pandas as pd

# из массива массивов
arrays = [
    ['bar', 'bar', 'baz', 'baz', 'foo', 'foo'],
    ['one', 'two', 'one', 'two', 'one', 'two']
]

index = pd.MultiIndex.from_arrays(arrays, names=('first', 'second'))

In [12]:
print(index)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [13]:
# из списка кортежей
tuples = [('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'), ('foo', 'one'), ('foo', 'two')]

index = pd.MultiIndex.from_tuples(tuples, names=('first', 'second'))

In [14]:
print(index)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [17]:
# cartesian product - декартово произведение
index = pd.MultiIndex.from_product([['bar', 'baz', 'foo'], ['one', 'two']], names=['first', 'second'])

In [18]:
print(index)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [19]:
data = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6],
    'B': [7, 8, 9, 10, 11, 12]
}, index=index)

In [20]:
print(data)

              A   B
first second
bar   one     1   7
      two     2   8
baz   one     3   9
      two     4  10
foo   one     5  11
      two     6  12

In [21]:
print(data.loc['bar'])

        A  B
second
one     1  7
two     2  8

In [22]:
print(data.loc[('bar', 'one')])

A    1
B    7
Name: (bar, one), dtype: int64

In [23]:
print(data.loc['bar':'baz'])

              A   B
first second
bar   one     1   7
      two     2   8
baz   one     3   9
      two     4  10

In [24]:
data_reset = data.reset_index()

In [25]:
print(data_reset)

  first second  A   B
0   bar    one  1   7
1   bar    two  2   8
2   baz    one  3   9
3   baz    two  4  10
4   foo    one  5  11
5   foo    two  6  12

In [26]:
data_set = data_reset.set_index(['first', 'second'])

In [27]:
print(data_set)

              A   B
first second
bar   one     1   7
      two     2   8
baz   one     3   9
      two     4  10
foo   one     5  11
      two     6  12

In [28]:
stacked = data.stack()

In [29]:
print(stacked)

first  second
bar    one     A     1
               B     7
       two     A     2
               B     8
baz    one     A     3
               B     9
       two     A     4
               B    10
foo    one     A     5
               B    11
       two     A     6
               B    12
dtype: int64

In [30]:
unstacked = stacked.unstack()

In [31]:
print(unstacked)

              A   B
first second
bar   one     1   7
      two     2   8
baz   one     3   9
      two     4  10
foo   one     5  11
      two     6  12

In [35]:
data = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6, 1, 2, 3],
    'B': [7, 8, 9, 10, 11, 12, 7, 8, 9]
}, index=pd.MultiIndex.from_tuples(
    [('bar', 'one'), ('bar', 'two'), ('baz', 'one'), 
     ('baz', 'two'), ('foo', 'one'), ('foo', 'two'),
     ('bar', 'one'), ('bar', 'two'), ('baz', 'one')],
    names=['first', 'second']
))

In [36]:
print(data)

              A   B
first second
bar   one     1   7
      two     2   8
baz   one     3   9
      two     4  10
foo   one     5  11
      two     6  12
bar   one     1   7
      two     2   8
baz   one     3   9

In [37]:
grouped = data.groupby(level=['first', 'second']).sum()

In [38]:
print(grouped)

              A   B
first second
bar   one     2  14
      two     4  16
baz   one     6  18
      two     4  10
foo   one     5  11
      two     6  12

In [39]:
index = pd.MultiIndex.from_tuples([
    ('Region A', 'Agriculture', 2022), ('Region A', 'Agriculture', 2023),
    ('Region A', 'Industry', 2022), ('Region A', 'Industry', 2023),
    ('Region A', 'Services', 2022), ('Region A', 'Services', 2023),
    ('Region B', 'Agriculture', 2022), ('Region B', 'Agriculture', 2023),
    ('Region B', 'Industry', 2022), ('Region B', 'Industry', 2023),
    ('Region B', 'Services', 2022), ('Region B', 'Services', 2023)
], names=['Region', 'Sector', 'Year'])

data = {
    'GDP': [100, 105, 200, 210, 300, 320, 150, 160, 250, 260, 350, 370],
    'Employment': [1000, 1020, 5000, 5050, 7000, 7100, 1200, 1250, 5200, 5300, 7200, 7350]
}

df = pd.DataFrame(data, index=index)

In [40]:
print(df)

                           GDP  Employment
Region   Sector      Year
Region A Agriculture 2022  100        1000
                     2023  105        1020
         Industry    2022  200        5000
                     2023  210        5050
         Services    2022  300        7000
                     2023  320        7100
Region B Agriculture 2022  150        1200
                     2023  160        1250
         Industry    2022  250        5200
                     2023  260        5300
         Services    2022  350        7200
                     2023  370        7350

In [41]:
region_a_2023 = df.loc[('Region A', slice(None), 2023)]
print(region_a_2023)

             GDP  Employment
Sector
Agriculture  105        1020
Industry     210        5050
Services     320        7100

In [42]:
industry_data = df.loc[(slice(None), 'Industry', slice(None))]
print(industry_data)

               GDP  Employment
Region   Year
Region A 2022  200        5000
         2023  210        5050
Region B 2022  250        5200
         2023  260        5300

In [43]:
gdp_by_year = df.groupby(level='Year').GDP.sum()
print(gdp_by_year)

Year
2022    1350
2023    1425
Name: GDP, dtype: int64

In [44]:
region_a_data = df.loc['Region A']
print(region_a_data)

                  GDP  Employment
Sector      Year
Agriculture 2022  100        1000
            2023  105        1020
Industry    2022  200        5000
            2023  210        5050
Services    2022  300        7000
            2023  320        7100

In [45]:
gdp_by_region = df.groupby(level='Region').GDP.sum()
print(gdp_by_region)

Region
Region A    1235
Region B    1540
Name: GDP, dtype: int64

In [46]:
region_a_2023 = df.loc[('Region A', slice(None), 2023)]
print(region_a_2023)

             GDP  Employment
Sector
Agriculture  105        1020
Industry     210        5050
Services     320        7100

In [47]:
industry_data = df.loc[(slice(None), 'Industry', slice(None))]
print(industry_data)

               GDP  Employment
Region   Year
Region A 2022  200        5000
         2023  210        5050
Region B 2022  250        5200
         2023  260        5300

In [48]:
gdp_by_year = df.groupby(level='Year').GDP.sum()
print(gdp_by_year)

Year
2022    1350
2023    1425
Name: GDP, dtype: int64

In [49]:
region_a_data = df.loc['Region A']
print(region_a_data)

                  GDP  Employment
Sector      Year
Agriculture 2022  100        1000
            2023  105        1020
Industry    2022  200        5000
            2023  210        5050
Services    2022  300        7000
            2023  320        7100

In [50]:
gdp_by_region = df.groupby(level='Region').GDP.sum()
print(gdp_by_region)

Region
Region A    1235
Region B    1540
Name: GDP, dtype: int64